<div class="user-container-global">
  <div class="background">
    <%= image_tag("background.jpg", alt: "developer picture") %>
  </div>

  <div class="right-container">
    <div class="title">
      <h1>Diginustrale</h1>
    </div>
    <div class="form-container">
      <h2>Rejoins nous !</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="formBloc">
          <div class="formGroupe two">
            <%= f.input :nom,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre nom',
                        validate: true,
                        input_html: { value: f.object.nom } %>
          </div>
          <div class="formGroupe two">
            <%= f.input :prénom,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre prénom',
                        input_html: { value: f.object.prénom } %>
          </div>
          <div class="formGroupe two">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre email',
                        input_html: { value: f.object.email } %>
          </div>
          <div class="formGroupe two">
            <%= f.input :EDE,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre numéro EDE',
                        input_html: { value: f.object.EDE } %>
          </div>
          <div class="formGroupe full-width">
            <%= f.input :adresse,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre adresse d\'exploitation',
                        input_html: { value: f.object.adresse } %>
          </div>
          <div class="formGroupe two">
            <%= f.input :code_postal,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre code postal',
                        input_html: { value: f.object.code_postal } %>
          </div>
          <div class="formGroupe two">
            <%= f.input :ville,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre ville',
                        input_html: { value: f.object.ville } %>
          </div>
          <div class="formGroupe">
            <%= f.input :password,
                        required: true,
                        autofocus: true,
                        placeholder: 'Entrez votre mot de passe' %>
          </div>
          <div class="formGroupe">
            <%= f.input :password_confirmation,
                        required: true,
                        autofocus: true,
                        placeholder: 'Veuillez confirmer le mot de passe' %>
          </div>
          <div class="d-flex justify-content-between form-actions">
            <div>
              <%= render "devise/shared/links" %>
            </div>
            <%= f.button :submit, "S'inscrire", class: "submit-button", style: "color: white;" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
