 <div class="container-global">
  <%= render "shared/head_bar" %>

    <%= @abattage.porcs.length %> porcs
      <% @products_per_porcs.each do |ppp| %>
        <p>Le cochon <%= ppp[:porc_id] %> a produit : <%= ppp[:lonzus] %> lonzzu,
        <%= ppp[:coppas] %> coppa,
        <%= ppp[:prisuttus] %> prisuttu </p>
    <% end %>

    <div class="buttons" >
      <%= link_to "Voir les produits", porcs_path, class: "button-custom" %>
    </div>
    <div class="buttons">
      <a class="btn btn-primary" href="/porcs">Exit</a>
    </div>
</div>
