<html>
  <head>
    <meta charset="UTF-8">
    <title>Document AOP</title>
    <link rel="stylesheet" href="download.scss">
    <!-- Add any CSS stylesheets or additional meta tags here -->
    <style>
      /* Add custom CSS styles for the PDF */
      body {
        font-family: Arial, sans-serif;
        font-size: 22px;
      }
      .header h1 {
        color: #09A3FA;
        font-weight: bold;
        font-size: 40px; /* Modifier la taille de police selon vos préférences */
      }
      .header div:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
      }
      {
        color: blue;
        font-size: 25px;
      }
      head-info{
        font-size: 14px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 18px;
        text-align: center;
      }
      thead {
        font-weight: bold;
      }
      tfoot {
        font-weight: bold;
      }
      /* Additional styling for specific elements */
      h1 {
        color: #333;
        font-size: 18px;
      }
      table  {
        border: 1px solid black;
      }
      tr {
        height: 42px;
      }
      tr, td {
        border: 1px solid black;
      }
      /* ... */
    </style>
  </head>

  <body>
    <div class="header">
      <h1>DIGINUSTRALE</h1>
      <div>
        <%= current_user.nom %>
        <%= current_user.prénom %>,
        <%= current_user.EDE %>
      </div>
    </div>
    <br><br>
    <div class="container-global">
      <div class="head-info">
          <h1 class="active">Lot n°<%= @abattage.numéro_lot %></h1>
            <p>Date et lieu d'abattage</p>
            <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
      <div class="tableau">
        <h2>Informations des porcs</h2>
        <table style="table">
            <thead>
              <tr>
                <td>IPG du porc</td>
                <td>Poids carcasse(kg)</td>
                <td>Epaisseur du lard (cm)</td>
                <td>pH</td>
                <td>Quantité coppa</td>
                <td>Quantité lonzu</td>
                <td>Quantité prisuttu</td>
              </tr>
            </thead>
            <tbody>
              <% @abattage.porcs.each do |porc|%>
                <tr class="form-row">
                  <td class="boucle-porc">
                    <%= link_to porc_path(porc) do %>
                      <%= porc.user.EDE %><%= porc.boucle %>
                    <% end %>
                  </td>
                  <td class="form-input">
                  <%= porc&.poids_carcasse%>
                  </td>
                  <td class="form-input">
                    <%= porc&.epaisseur_lard%>
                  </td>
                  <td class="form-input">
                    <%= porc&.ph%>
                  </td>
                  <td class="form-input">
                    <%= porc&.coppa&.quantité%>
                  </td>
                  <td class="form-input">
                    <%= porc&.lonzu&.quantité%>
                  </td>
                  <td class="form-input">
                    <%= porc&.prisuttu&.quantité%>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>

        <h2>Produits témoins</h2>
        <table style="table">
          <thead>
            <tr>
              <td>Produit</td>
              <td>Poids</td>
              <td>Epaisseur du lard (cm)</td>
              <td>pH</td>
              <td>Date mise au sel</td>
              <td>Date sortie de sel</td>
              <td>Durée de fumage (jours)</td>
              <td>Poids sortie de sèche (kg)</td>
              <td>Date entrée affinage</td>
              <td>Date sortie affinage vente</td>
            </tr>
          </thead>
          <tbody>
                <tr>
                  <th>Coppa</th>
                  <td class="form-input"><%= @coppa_temoin&.poids %></td>
                  <td class="form-input">N/A</td>
                  <td class="form-input">N/A</td>
                  <td class="form-input"><%= @coppa_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @coppa_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @coppa_temoin&.durée_fumage %></td>
                  <td class="form-input"><%= @coppa_temoin&.poids_sortie_sèche %></td>
                  <td class="form-input"><%= @coppa_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @coppa_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") %></td>
                </tr>

                <tr>
                  <th>Lonzu</th>
                  <td class="form-input"><%= @lonzu_temoin&.poids %></td>
                  <td class="form-input">N/A</td>
                  <td class="form-input">N/A</td>
                  <td class="form-input"><%= @lonzu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @lonzu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @lonzu_temoin&.durée_fumage %></td>
                  <td class="form-input"><%= @lonzu_temoin&.poids_sortie_sèche %></td>
                  <td class="form-input"><%= @lonzu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @lonzu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") %></td>
                </tr>

                <tr>
                  <th>Prisuttu</th>
                  <td class="form-input"><%= @prisuttu_temoin&.poids %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.epaisseur_lard %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.ph %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.durée_fumage %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.poids_sortie_sèche %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") %></td>
                  <td class="form-input"><%= @prisuttu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") %></td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
