<html>
  <head>
    <meta charset="UTF-8">
    <title>Document AOP</title>
    <link rel="stylesheet" href="download.scss">
    <!-- Add any CSS stylesheets or additional meta tags here -->
    <style>
      /* Add custom CSS styles for the PDF */
      body {
        font-family: Arial, sans-serif;
        font-size: 22px;
      }
      head-info{
        font-size: 14px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 18px;
      }
      thead {
        font-weight: bold;
      }
      tfoot {
        font-weight: bold;
      }
      /* Additional styling for specific elements */
      h1 {
        color: #333;
        font-size: 18px;
      }
      table  {
        border: 1px solid black;
      }
      tr {
        height: 42px;
      }
      tr, td {
        border: 1px solid black;
      }
      /* ... */
    </style>
  </head>

  <body>

    <div class="container-global">
      <div class="head-info">
          <h1 class="active">Information sur le lot <%= @abattage.numéro_lot %></h1>
            <p>Date et lieu d'abattage</p>
            <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
      <div class="tableau">
        <h1>Infos des porcs</h1>

        <table style="border: 1px solid black">
          <thead>
            <tr>
              <td>IPG du porc</td>
              <td>Poids carcasse(kg)</td>
              <td>Epaisseur du lard (cm)</td>
              <td>pH</td>
              <td>Quantité coppa</td>
              <td>Quantité lonzu</td>
              <td>Quantité prisuttu</td>
            </tr>
          </thead>
          <tbody>
          <% sum_poids = 0 %>
          <% sum_epaisseur = 0 %>
          <% sum_ph = 0 %>
          <% sum_coppa = 0 %>
          <% sum_lonzu = 0 %>
          <% sum_prisuttu = 0 %>
            <% @abattage.porcs.each do |porc|%>
              <tr>
                <td>
                  <%= link_to porc_path(porc) do %>
                    <%= porc.user.EDE %><%= porc.boucle %>
                  <% end %>
                </td>
                <td>
                <%= porc.poids_carcasse%>
                <% sum_poids += porc.poids_carcasse  %>
                </td>
                <td>
                  <%= porc.epaisseur_lard%>
                  <% sum_epaisseur = porc.epaisseur_lard %>
                </td>
                <td>
                  <%= porc.ph%>
                  <% sum_ph = porc.ph%>
                </td>
                <td>
                  <%= porc.coppa.quantité%>
                  <% sum_coppa = porc.coppa.quantité %>
                </td>
                <td>
                  <%= porc.lonzu.quantité%>
                  <% sum_lonzu = porc.lonzu.quantité %>
                </td>
                <td>
                  <%= porc.prisuttu.quantité%>
                  <% sum_prisuttu = porc.prisuttu.quantité %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
            <td colspan="1">Total:</td>
            <td> <%= sum_poids %> </td>
            <td><%= sum_epaisseur%></td>
            <td><%= sum_ph %></td>
            <td><%= sum_coppa %></td>
            <td><%= sum_lonzu %></td>
            <td><%= sum_prisuttu %></td>
          </tfoot>
        </table>

          <h1>Infos des produits</h1>
        <table style="border: 1px solid black">
          <thead>
            <tr>
              <td>Produit</td>
              <td>Poids (kg)</td>
              <td>Epaisseur <br>du lard (cm)</td>
              <td>pH</td>
              <td>Date mise au sel</td>
              <td>Date sortie de sel</td>
              <td>Durée de fumage (jours)</td>
              <td>Poids sortie <br> de sèche (kg)</td>
              <td>Date entrée affinage</td>
              <td>Date sortie <br> affinage vente</td>
            </tr>
          </thead>
          <tbody>
            <% @abattage.porcs.each do |porc|%>
            <% if porc.coppa %>
            <tr>
                <td>Coppa</td>
              <td><%= porc.coppa.poids %></td>
                <td>N\A</td>
                <td>N\A</td>
                <td><%= porc.coppa.date_mise_au_sel %></td>
                <td><%= porc.coppa.date_sortie_de_sel %></td>
                <td><%= porc.coppa.durée_fumage %></td>
                <td><%= porc.coppa.poids_sortie_sèche %></td>
                <td><%= porc.coppa.date_entrée_affinage %></td>
                <td><%= porc.coppa.date_sortie_affinage_vente %></td>
            </tr>
            <% end %>

            <% if porc.lonzu %>
            <tr>
                <td>Lonzu</td>
                <td><%= porc.lonzu.poids %></td>
                <td>N\A</td>
                <td>N\A</td>
                <td><%= porc.lonzu.date_mise_au_sel %></td>
                <td><%= porc.lonzu.date_sortie_de_sel %></td>
                <td><%= porc.lonzu.durée_fumage %></td>
                <td><%= porc.lonzu.poids_sortie_sèche %></td>
                <td><%= porc.lonzu.date_entrée_affinage %></td>
                <td><%= porc.lonzu.date_sortie_affinage_vente %></td>
            </tr>
            <% end %>

            <% if porc.prisuttu %>
            <tr>
                <td>Prisuttu</td>
                <td><%= porc.prisuttu.poids %></td>
                <td><%= porc.prisuttu.epaisseur_lard %></td>
                <td><%= porc.prisuttu.ph %></td>
                <td><%= porc.prisuttu.date_mise_au_sel %></td>
                <td><%= porc.prisuttu.date_sortie_de_sel %></td>
                <td><%= porc.prisuttu.durée_fumage %></td>
                <td><%= porc.prisuttu.poids_sortie_sèche %></td>
                <td><%= porc.prisuttu.date_entrée_affinage %></td>
                <td><%= porc.prisuttu.date_sortie_affinage_vente %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>


      </div>

    </div>

  </body>
</html>
