<h1>edit abattage</h1>

<div class="container">


  <% @abattage.porcs.each_with_index do |porc, index| %>
    <div class="container d-flex justify-content-between">

          <% if index == 0 %>
            <%= simple_form_for porc do |fp| %>
              <div class="w-100 d-flex">
                <%= fp.input :boucle, input_html: { class: 'form-control' }  %>
                <%= fp.input :poids_carcasse, input_html: { class: 'form-control' } %>
                <%= fp.input :epaisseur_lard, input_html: { class: 'form-control' } %>
                <%= fp.input :ph, input_html: { class: 'form-control' }%>
                <%= fp.button :submit, input_html: { class: 'form-control' } %>
              </div>
            <% end %>
          <% else %>
            <%= simple_form_for porc do |fp| %>
              <div class="w-100 d-flex">
                <%= fp.input :boucle, label:false, input_html: { class: 'form-control' }  %>
                <%= fp.input :poids_carcasse, label:false, input_html: { class: 'form-control' } %>
                <%= fp.input :epaisseur_lard, label:false, input_html: { class: 'form-control' } %>
                <%= fp.input :ph, label:false, input_html: { class: 'form-control' }%>
                <%= fp.button :submit, input_html: { class: 'form-control' } %>
              </div>
            <% end %>
          <% end %>
    </div>
  <% end %>

</div>
<%= link_to "Exit", "/porcs", class: "btn btn-primary" %>
