<div class="container">

    <div>
    <%= simple_form_for @abattage do |f| %>
      <% @abattage.porcs.each do |porc| %>
          <%= f.input :boucle %>
          <%= f.input :poids_carcasse %>
          <%= f.input :ph %>
          <%= f.button :submit %>
        <% end %>
      <% end %>



      <%= simple_form_for @abattage do |f| %>
        <%= f.input :IPG%>
        <%= f.input :poids_carcasse %>
        <%= f.input :ph %>
        <%= f.button :submit %>
      <% end %>
    </div>
</div>
<%= link_to "Exit", "/abattages", class: "btn btn-primary" %>
