
<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="nav-container">
    <div class="head-info">
      <div>
        <h2 class="active">GESTION DU LOT N° <%= @abattage.numéro_lot %></h2>
      </div>

      <div class="elevage">
        <p>Date et lieu d'abattage</p>
        <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
    </div>
  </div>

  <div class="form-create-container" data-controller="checkable">
    <h2>Saisie du prisuttu témoin</h2>
    <div style="width: 100px; height: 3px; background-color: gray; margin-bottom: 50px;"></div>
    <div class="formBloc d-block">
      <%= simple_form_for @abattage, url: abattage_update_prisuttu_path(@abattage), data: { turbo: "false", action: "keyup->checkable#validateForm".html_safe }, method: :patch do |fp| %>
        <table class="table">
          <thead>
            <tr>
              <th class="header">IPG du porc</th>
              <th class="header">Poids(kg)</th>
              <th class="header">Epaisseur du lard (cm)</th>
              <th class="header">pH</th>
              <th class="header">Date mise au sel</th>
            </tr>
          </thead>
          <tbody>
              <tr class="form-row">
                <td class="boucle-porc">
                  <select name="ipg">
                    <% @abattage.porcs.each do |porc| %>
                      <option value="<%= porc.boucle %>" <%= "selected" if @prisuttu_temoin&.porc == porc %>><%= porc.boucle %></option>
                    <% end %>
                  </select>
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="poids" value="<%= @prisuttu_temoin&.poids %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="epaisseur_lard" value="<%= @prisuttu_temoin&.epaisseur_lard %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="ph" value="<%= @prisuttu_temoin&.ph %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_mise_au_sel" value="<%= @prisuttu_temoin&.date_mise_au_sel %>" data-checkable-target="checkable">
                </td>
              </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th class="header">Date sortie de sel</th>
              <th class="header">Durée de fumage (jours)</th>
              <th class="header">Poids sortie de sèche (kg)</th>
              <th class="header">Date entrée affinage</th>
              <th class="header">Date sortie affinage vente</th>
            </tr>
          </thead>
          <tbody>
              <tr class="form-row">
                <td class="form-input">
                  <input type="date" step="1" name="date_sortie_de_sel" value="<%= @prisuttu_temoin&.date_sortie_de_sel %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="durée_fumage" value="<%= @prisuttu_temoin&.durée_fumage %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="poids_sortie_sèche" value="<%= @prisuttu_temoin&.poids_sortie_sèche %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_entrée_affinage" value="<%= @prisuttu_temoin&.date_entrée_affinage %>" data-checkable-target="checkable">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_sortie_affinage_vente" value="<%= @prisuttu_temoin&.date_sortie_affinage_vente %>" data-checkable-target="checkable">
                </td>
              </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between form-actions">
          <%= link_to "Annuler", abattage_path(@abattage), class: "annuler-button", data: { turbo: "false" } %>
          <div class="decoupe d-none" data-checkable-target="decoupe">
            <%= fp.button :submit, 'Valider', class: 'submit-button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
