<div class="container-global">
  <%= render "shared/head_bar" %>

<%# NAVBAR %>
  <div class="nav-container">
    <div class="head-info">
      <div>
        <h2 class="active">Lot d'abattage <%= @abattage.numéro_lot %></h2>
      </div>

      <div class="elevage">
          <p>Date et lieu d'abattage</p>
          <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
    </div>
  </div>

  <div class="form-container-abattage">

    <div class="form-headers row">
      <div class="header col-2">IPG</div>
      <div class="header col-2">Quantité de coppa</div>
      <div class="header col-2">Quantité de prisuttu</div>
      <div class="header col-2">Quantité de lonzu</div>
      <div class="header col-1"></div>
    </div>


    <%= simple_form_for @abattage do |fp| %>
      <% @porcs.each_with_index do |porc, index| %>
          <%= simple_fields_for porc do |p| %>
            <div class="form-row row bg-green">
              <div class="boucle-porc col-2">
                <%=current_user.EDE%><%=porc.boucle%>
              </div>
              <div class="form-input col-2">
                <input type="number" step="1" name="<%= index %>[coppa][quantité]" id="coppa-porc" value="<%=porc.coppa.quantité%>">
              </div>
              <div class="form-input col-2">
                <input type="number" step="1" name="<%= index %>[prisuttu][quantité]" id="prisuttu-porc" value="<%=porc.prisuttu.quantité%>">
              </div>
              <div class="form-input col-2">
                <input type="number" step="1" name="<%= index %>[lonzu][quantité]" id="lonzu-porc" value="<%=porc.lonzu.quantité%>" >
              </div>
              <div class="aop form-input col-1 text-end" >
                <input type="hidden" name="<%= index %>[id]" id="id" value="<%= porc.id %>">
                <%= image_tag("aop.png", class: "d-none") %>
              </div>
            </div>

          <% end %>
      <% end %>
      <div class="submit-btn">
        <%= fp.button :submit, 'Mettre à jour', input_html: { class: 'form-control' }
      </div>
    <% end %>

  </div>


<div class="buttons">

  <%= link_to "Exit", "/porcs", class: "btn btn-primary"%>


      <div class="btn-decoupe">
        <%= link_to abattage_edit_produits_path(@abattage), class: "btn btn-primary d-none" do %>
            Déclarer les produits témoins
        <% end %>
      </div>

</div>
