

<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="container">
  <% @abattage.porcs.each_with_index do |porc, index| %>
    <div class="container d-flex justify-content-between">

          <% if index == 0 %>
            <%= simple_form_for porc do |fp| %>
              <div class="w-100 d-flex">
                <%= fp.input :boucle, input_html: { class: 'form-control' }  %>
                <%= fp.input :poids_carcasse, input_html: { class: 'form-control' } %>
                <%= fp.input :epaisseur_lard, input_html: { class: 'form-control' } %>
                <%= fp.input :ph, input_html: { class: 'form-control' }%>
                <%= fp.button :submit, input_html: { class: 'form-control' } %>
              </div>
            <% end %>
          <% else %>
            <%= simple_form_for porc do |fp| %>
              <div class="w-100 d-flex">
                <%= fp.input :boucle, label:false, input_html: { class: 'form-control' }  %>
                <%= fp.input :poids_carcasse, label:false, input_html: { class: 'form-control' } %>
                <%= fp.input :epaisseur_lard, label:false, input_html: { class: 'form-control' } %>
                <%= fp.input :ph, label:false, input_html: { class: 'form-control' }%>
                <%= fp.button :submit, input_html: { class: 'form-control' } %>
              </div>
            <% end %>
          <% end %>
    </div>
  <% end %>
  </div>
</div>

<%# si tous les porcs updated, bouton envoyer en production %>
<% counter = 0 %>
<% @abattage.porcs.each do |porc|%>
  <% if porc.boucle && porc.poids_carcasse && porc.epaisseur_lard && porc.ph %>
    <% counter += 1 %>
  <% end %>
<% end %>
<% if counter == @abattage.porcs.count %>
  <%= "Envoyer en prod" %>
<% end %>
<%# si valeurs OK, eligible aop %>



<%= link_to "Exit", "/porcs", class: "btn btn-primary" %>
