

<div class="container-global">
  <%= render "shared/head_bar" %>

<%# NAVBAR %>
  <div class="nav-container">
    <div class="head-info">
      <div>
        <h2 class="active">Lot d'abattage <%= @abattage.numéro_lot %></h2>
      </div>

      <div class="elevage">
          <p>Date et lieu d'abattage</p>
          <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
    </div>
  </div>



  <div class="form-container">

    <div class="form-headers row">
      <div class="col-1">Boucle</div>
      <div class="col-2">Poids carcasse(kg)</div>
      <div class="col-2">Epaisseur lard (cm)</div>
      <div class="col-2">pH</div>
      <div class="col-1"></div>
    </div>

    <%= simple_form_for @abattage do |fp| %>
      <% @porcs.each_with_index do |porc, index| %>
          <%= simple_fields_for porc do |p| %>

            <div class="form-row row">
              <div class="boucle-porc col-1">
                <%= porc.boucle %>
              </div>
              <div class="form-input col-2">
                <input type="text" name="<%= index %>[poids_carcasse]" id="poids-carcasse" value="">
              </div>
              <div class="form-input col-2">
                <input type="text" name="<%= index %>[epaisseur_lard]" id="epaisseur-lard" value="">
              </div>
              <div class="form-input col-2">
                <input type="text" name="<%= index %>[ph]" id="ph" value="">
              </div>
              <div class="aop form-input col-1 text-end">
                <input type="hidden" name="<%= index %>[id]" id="id" value="<%= porc.id %>">
                <%= image_tag("aop.png") %>
              </div>

            </div>

          <% end %>
      <% end %>
      <%= fp.button :submit, 'Mise à jour', input_html: { class: 'form-control' } %>
    <% end %>

  </div>





            <div class="porc-div container d-flex justify-content-between">
              <div class="d-flex">
                  <div class="w-100 d-flex">

            </div>
       </div>
     </div>

<%# si valeurs OK, eligible aop %>



<%= link_to "Exit", "/porcs", class: "btn btn-primary" %>
