
<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="nav-container">
    <div class="head-info">
      <div>
        <h2 class="active">Lot n° <%= @abattage.numéro_lot %> - Etape 3 | Coppa</h2>
      </div>

      <div class="elevage">
        <p>Date et lieu d'abattage</p>
        <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
    </div>
  </div>

  <div class="form-create-container">
    <div class="formBloc">
      <table class="table">
        <thead>
          <tr>
            <th class="header">IPG du porc</th>
            <th class="header">Poids(kg)</th>
            <th class="header">Date mise au sel</th>
            <th class="header">Date sortie de sel</th>
            <th class="header">Durée de fumage (jours)</th>
            <th class="header">Poids sortie de sèche (kg)</th>
            <th class="header">Date entrée affinage</th>
            <th class="header">Date sortie affinage vente</th>
            <th class="header"></th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @abattage, url: abattage_update_coppa_path(@abattage), data: { turbo: "false" }, method: :patch do |fp| %>
            <tr class="form-row">
              <td class="boucle-porc">
                <select name="ipg">
                  <% @abattage.porcs.each do |porc| %>
                    <option value="<%= porc.boucle %>" <%= "selected" if @coppa_temoin&.porc == porc %>><%= porc.boucle %></option>
                  <% end %>
                </select>
              </td>
              <td class="form-input">
                <input type="number" step="1" name="poids" value="<%= @coppa_temoin&.poids %>">
              </td>
              <td class="form-input">
                <input type="date" step="1" name="date_mise_au_sel" value="<%= @coppa_temoin&.date_mise_au_sel %>">
              </td>
              <td class="form-input">
                <input type="date" step="1" name="date_sortie_de_sel" value="<%= @coppa_temoin&.date_sortie_de_sel %>">
              </td>
              <td class="form-input">
                <input type="number" step="1" name="durée_fumage" value="<%= @coppa_temoin&.durée_fumage %>">
              </td>
              <td class="form-input">
                <input type="number" step="1" name="poids_sortie_sèche" value="<%= @coppa_temoin&.poids_sortie_sèche %>">
              </td>
              <td class="form-input">
                <input type="date" step="1" name="date_entrée_affinage" value="<%= @coppa_temoin&.date_entrée_affinage %>">
              </td>
              <td class="form-input">
                <input type="date" step="1" name="date_sortie_affinage_vente" value="<%= @coppa_temoin&.date_sortie_affinage_vente %>">
              </td>
            </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between form-actions">
        <%= link_to "Annuler", abattage_path(@abattage), class: "annuler-button", data: { turbo: "false" } %>
        <div class="decoupe">
          <%= fp.button :submit, 'Valider', class: 'submit-button' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
