
<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="nav-container">
    <div class="head-info">
      <div>
        <h2 class="active">GESTION DU LOT N° <%= @abattage.numéro_lot %></h2>
      </div>

      <div class="elevage">
          <p><span style="color: gray; font-weight: 900;">Date</span> <%= @abattage.date.strftime("%d/%m/%Y") %></p>
          <p><span style="color: gray; font-weight: 900;">Lieu d'abattage</span> <%= @abattage.lieu %></p>
      </div>
    </div>
  </div>

  <div class="form-create-container" data-controller="checkable">
    <div class="d-flex justify-content-between">
      <h2>Saisie de la coppa témoin</h2>

      <div>
        <input type="hidden">
        <%= image_tag("aop.png", data: { produit_target: "img" }, class: "d-none") %>
        <div class="aop form-input text-end">
          <div data-produit-target="alert" class="d-none">
            <p id="eligible-alert">Porc eligible AOP</p>
          </div>
        </div>
      </div>
    </div>

      <div style="width: 100px; height: 3px; background-color: gray; margin-bottom: 50px;"></div>
         <div class="formBloc d-block" data-controller="produit", data-action= "keyup->produit#produitAop">
          <%= simple_form_for @abattage, url: abattage_update_coppa_path(@abattage), data: { turbo: "false", action: "keyup->checkable#validateForm".html_safe }, method: :patch do |fp| %>
          <table class="table" data-produit-target="bg">
          <thead>
            <tr>
              <th class="header">Boucle porc</th>
              <th class="header">Poids (kg)</th>
              <th class="header">Date mise au sel</th>
              <th class="header">Date sortie de sel</th>
            </tr>
          </thead>
          <tbody>
              <tr class="form-row">
                <td class="boucle-porc">
                    <select name="ipg" data-action="change->produit#porcAop" data-produit-target="porc">
                        <% @abattage.porcs.each do |porc| %>
                          <option value="<%= porc.boucle %>" <%= "selected" if @coppa_temoin&.porc == porc %> data-eligible="<%= porc.eligible_AOP %>"> <%= porc.boucle %></option>
                        <% end %>
                    </select>
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="poids" value="<%= @coppa_temoin&.poids %>" data-checkable-target="checkable" data-produit-target="poids">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_mise_au_sel" value="<%= @coppa_temoin&.date_mise_au_sel %>" data-checkable-target="checkable" data-produit-target="misesel" date-abattage="<%= @abattage.date%>">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_sortie_de_sel" value="<%= @coppa_temoin&.date_sortie_de_sel %>" data-checkable-target="checkable" data-produit-target="sortiesel">
                </td>
              </tr>
          </tbody>
        </table>

        <table class="table" data-produit-target="bg">
          <thead>
            <tr>
              <th class="header">Durée de fumage (jours)</th>
              <th class="header">Poids sortie de sèche (kg)</th>
              <th class="header">Date entrée affinage</th>
              <th class="header">Date sortie affinage vente</th>
            </tr>
          </thead>
          <tbody>
            <tr class="form-row">
                <td class="form-input">
                  <input type="number" step="1" name="durée_fumage" value="<%= @coppa_temoin&.durée_fumage %>" data-checkable-target="checkable" data-produit-target="fumage">
                </td>
                <td class="form-input">
                  <input type="number" step="1" name="poids_sortie_sèche" value="<%= @coppa_temoin&.poids_sortie_sèche %>" data-checkable-target="checkable" data-produit-target="sortieseche">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_entrée_affinage" value="<%= @coppa_temoin&.date_entrée_affinage %>" data-checkable-target="checkable" data-produit-target="entreeaffinage">
                </td>
                <td class="form-input">
                  <input type="date" step="1" name="date_sortie_affinage_vente" value="<%= @coppa_temoin&.date_sortie_affinage_vente %>" data-checkable-target="checkable" data-produit-target="sortieaffinage">
                </td>
              </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between form-actions">
          <%= link_to "Annuler", abattage_path(@abattage), class: "annuler-button", data: { turbo: "false" } %>
            <div class="decoupe" data-checkable-target = "decoupe">
              <%= fp.button :submit, 'Valider', class: 'submit-button' %>
            </div>
          <% end %>
        </div>
  </div>
</div>
