<div class="container-global">
  <%= render "shared/head_bar" %>

<%# NAVBAR %>
  <div class="nav-container">
    <div class="head-info">
      <div>
        <h2 class="active">Lot d'abattage <%= @abattage.numéro_lot %></h2>
      </div>

      <div class="elevage">
          <p>Date et lieu d'abattage</p>
          <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
      </div>
    </div>
  </div>

  <div class="form-container-abattage">

    <div class="form-headers row">
      <div class="header col-1">Produit</div>
      <div class="header col-1">IPG du porc</div>
      <div class="header col-1">Date mise au sel</div>
      <div class="header col-1">Date sortie de sel</div>
      <div class="header col-1">Durée de fumage (jours)</div>
      <div class="header col-1">Poids sortie de sèche (kg)</div>
      <div class="header col-1">Date entrée affinage</div>
      <div class="header col-1">Date sortie affinage vente</div>
    </div>


      <%= simple_form_for @coppa, url: abattage_update_produits_path(@abattage), data: { controller: 'aop' } do |f| %>
        <div class="form-row row bg-green" data-aop-target="row">
          <div class="col-1">
            Coppa
          </div>
          <div class="col-1">
            <%= select_tag "[porc][boucle]", options_for_select(@abattage.porcs.map(&:boucle)) %>
          </div>
          <div class="col-1">
            <%= f.input :date_mise_au_sel, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :date_sortie_de_sel, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :durée_fumage, label: false, input_html: { type: :number }%>
          </div>
          <div class="col-1">
            <%= f.input :poids_sortie_sèche, label: false, input_html: { type: :number } %>
          </div>
          <div class="col-1">
            <%= f.input :date_entrée_affinage, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :date_sortie_affinage_vente, label: false, as: :date, html5: true %>
          </div>
        </div>
        <div class="col-1">
          <%= f.submit %>
        </div>
      <% end %>

      <%= simple_form_for @lonzu, url: abattage_update_produits_path(@abattage), data: { controller: 'aop' } do |f| %>
        <div class="form-row row bg-green" data-aop-target="row">
          <div class="col-1">
            Lonzu
          </div>
          <div class="col-1">
            <%= select_tag "[porc][boucle]", options_for_select(@abattage.porcs.map(&:boucle)) %>
          </div>
          <div class="col-1">
            <%= f.input :date_mise_au_sel, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :date_sortie_de_sel, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :durée_fumage, label: false, input_html: { type: :number }%>
          </div>
          <div class="col-1">
            <%= f.input :poids_sortie_sèche, label: false, input_html: { type: :number } %>
          </div>
          <div class="col-1">
            <%= f.input :date_entrée_affinage, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :date_sortie_affinage_vente, label: false, as: :date, html5: true %>
          </div>
        </div>
        <div class="col-1">
          <%= f.submit %>
        </div>
      <% end %>

      <%= simple_form_for @prisuttu, url: abattage_update_produits_path(@abattage), data: { controller: 'aop' } do |f| %>
        <div class="form-row row bg-green" data-aop-target="row">
          <div class="col-1">
            Prisuttu
          </div>
          <div class="col-1">
            <%= select_tag "[porc][boucle]", options_for_select(@abattage.porcs.map(&:boucle)) %>
          </div>
          <div class="col-1">
            <%= f.input :date_mise_au_sel, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :date_sortie_de_sel, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :durée_fumage, label: false, input_html: { type: :number }%>
          </div>
          <div class="col-1">
            <%= f.input :poids_sortie_sèche, label: false, input_html: { type: :number } %>
          </div>
          <div class="col-1">
            <%= f.input :date_entrée_affinage, label: false, as: :date, html5: true %>
          </div>
          <div class="col-1">
            <%= f.input :date_sortie_affinage_vente, label: false, as: :date, html5: true %>
          </div>
        </div>
        <div class="col-1">
          <%= f.submit %>
        </div>
      <% end %>

  </div>
<div class="buttons">

  <%= link_to "Exit", "/porcs", class: "btn btn-primary"%>


      <div class="btn-decoupe" data-aop-target="decoupe">
        <%= link_to abattage_edit_produits_path(@abattage), class: "btn btn-primary d-none" do %>
            Déclarer les produits témoins
        <% end %>
      </div>

</div>
