<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="form-create-container mt-5">
    <h2>Nouvel abattage</h2>
    <div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="form-create-container mt-5">
    <h2>Nouvelle abattage :  </h2>
      <%= form_with url: "/abattages"  do |f| %>
        <form accept-charset="UTF-8" method="post">
          <div class="formGroupe">
            <label for="lot">Lot</label>
            <input type="text" id="lot" name="abattage[numéro_lot]"/>
          </div>
          <% Abattage::ABATTOIRS.each do |lieu|%>
              <div class="formGroupe">
                <input type="radio" id="lieu" name="abattage[lieu]" value=<%= lieu %>>
                <label for="lieu"><%= lieu %></label>
              </div>
          <% end %>
          <div class="formGroupe">
            <label for="date">Date</label>
            <input type="date" id="date" name="abattage[date]"/>
          </div>
          <% @porcs.each do |porc| %>
            <input type="checkbox" id="<%= porc.id %>" name="porc_id[]" value="<%= porc.id %>" multiple="true">
            <label for="<%= porc.id %>"><%= porc.boucle %></label>
          <% end %>
          <input type="submit" name="commit" value="Create abattage" data-disable-with="Create abattage">
        </form>
      <% end %>
  </div>
</div>
