<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="form-create-container mt-5">
    <h2>NOUVEL ABATTAGE</h2>
    <div style="width: 100px; height: 3px; background-color: gray; margin-bottom: 50px;"></div>
    <%= simple_form_for :abattage, url: "/abattages", data: { turbo: "false" } do |f| %>
    <div class="formBloc">
      <div class="formGroupe">
        <%= f.input :numéro_lot, placeholder: "Ecrivez le numéro de lot" %>
      </div>
      <div class="formGroupe">
        <%= f.input :lieu, as: :select, collection: Abattage::ABATTOIRS %>
      </div>
      <div class="formGroupe">
        <%= f.input :date, as: :date %>
      </div>
      <div class="formGroupe mb-3" data-controller="select">
        <span style="color: black; font-weight: bold; font-size: 20px; transition: 0.4s ease-out">Porc abattus</span>
        <div id="list-porc" class="d-flex justify-content-start" data-select-target="list">
          <input type="hidden" name="porc_ids" id="porc-ids-input" value="">
        </div>
        <select data-select-target="select" data-action="change->select#updateList">
          <option value="" selected>Selectionner les porcs</option>
          <% @porcs.each do |porc| %>
            <%= content_tag :option, porc[:boucle], value: porc[:id] %>
          <% end %>
        </select>
      </div>
      <div class="d-flex justify-content-between form-actions">
        <%= link_to "Annuler", porcs_path, class: "annuler-button" %>
        <%= f.button :submit, "Ajouter", data: { disable_with: "Create abattage" }, class: "submit-button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
