<div class="container-global">
  <%= render "shared/head_bar" %>

  <div class="nav-container">
      <div class="head-info">
        <div>
          <h2 class="active">Information sur le lot <%= @abattage.numéro_lot %></h2>
        </div>
        <div class="elevage">
            <p>Date et lieu d'abattage</p>
            <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
        </div>
      </div>
  </div>

  <div class="nav-button">
    <div>
      <%= link_to "< Retour", porcs_path, class: "annuler-button", style: "color: white;" %>
    </div>
    <div class="button-action" id="pdf">
      <%= link_to "Télécharger PDF", abattage_download_path(@abattage), target: '_blank', class: "button-custom" %>
    </div>
  </div>

  <div class="list-etape">

      <%= link_to edit_abattage_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape">Saisir les données de l'abattage</div>
      <% end %>

      <%= link_to abattage_edit_produits_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape">Saisir le nombre de produits</div>
      <% end %>

      <%= link_to abattage_edit_coppa_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape">Saisir la Coppa témoin</div>
      <% end %>

      <%= link_to abattage_edit_lonzu_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape">Saisir le Lonzu témoin</div>
      <% end %>

      <%= link_to abattage_edit_prisuttu_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape">Saisir le Prisuttu témoin </div>
      <% end %>

  </div>

  <div class="list-tableau mb-5">
    <h2>Infos des porcs</h2>
    <div class="tableau-content">
      <table style="table">
          <thead>
            <tr>
              <td>IPG du porc</td>
              <td>Poids carcasse (kg)</td>
              <td>Epaisseur du lard (cm)</td>
              <td>pH</td>
              <td>Quantité coppa</td>
              <td>Quantité lonzu</td>
              <td>Quantité prisuttu</td>
            </tr>
          </thead>
          <tbody>
            <% @abattage.porcs.each do |porc|%>
              <tr class="form-row">
                <td class="boucle-porc">
                  <%= link_to porc_path(porc) do %>
                    <%= porc.user.EDE %><%= porc.boucle %>
                  <% end %>
                </td>
                <td class="form-input">
                <%= porc&.poids_carcasse%>
                </td>
                <td class="form-input">
                  <%= porc&.epaisseur_lard%>
                </td>
                <td class="form-input">
                  <%= porc&.ph%>
                </td>
                <td class="form-input">
                  <%= porc&.coppa&.quantité%>
                </td>
                <td class="form-input">
                  <%= porc&.lonzu&.quantité%>
                </td>
                <td class="form-input">
                  <%= porc&.prisuttu&.quantité%>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>

  <div class="list-tableau mb-5">
    <h2>Produits témoin</h2>
    <div class="tableau-content">
      <table style="table">
        <thead>
          <tr>
            <td>Produit</td>
            <td>Poids</td>
            <td>Epaisseur du lard (cm)</td>
            <td>pH</td>
            <td>Date mise au sel</td>
            <td>Date sortie de sel</td>
            <td>Durée de fumage (jours)</td>
            <td>Poids sortie de sèche (kg)</td>
            <td>Date entrée affinage</td>
            <td>Date sortie affinage vente</td>
          </tr>
        </thead>
        <tbody>
              <tr>
                <th>Coppa</th>
                <td class="form-input"><%= @coppa_temoin&.poids %></td>
                <td class="form-input">N/A</td>
                <td class="form-input">N/A</td>
                <td class="form-input"><%= @coppa_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @coppa_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @coppa_temoin&.durée_fumage %></td>
                <td class="form-input"><%= @coppa_temoin&.poids_sortie_sèche %></td>
                <td class="form-input"><%= @coppa_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @coppa_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") %></td>
              </tr>

              <tr>
                <th>Lonzu</th>
                <td class="form-input"><%= @lonzu_temoin&.poids %></td>
                <td class="form-input">N/A</td>
                <td class="form-input">N/A</td>
                <td class="form-input"><%= @lonzu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @lonzu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @lonzu_temoin&.durée_fumage %></td>
                <td class="form-input"><%= @lonzu_temoin&.poids_sortie_sèche %></td>
                <td class="form-input"><%= @lonzu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @lonzu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") %></td>
              </tr>

              <tr>
                <th>Prisuttu</th>
                <td class="form-input"><%= @prisuttu_temoin&.poids %></td>
                <td class="form-input"><%= @prisuttu_temoin&.epaisseur_lard %></td>
                <td class="form-input"><%= @prisuttu_temoin&.ph %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @prisuttu_temoin&.durée_fumage %></td>
                <td class="form-input"><%= @prisuttu_temoin&.poids_sortie_sèche %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") %></td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
