 <div class="container-global">
  <%= render "shared/head_bar" %>

  <div class="nav-container">
      <div class="head-info">
        <div>
          <h2 class="active">Information sur le lot <%= @abattage.numéro_lot %></h2>
        </div>
      </div>

      <div class="head-info">
        <div class="elevage">
            <p>Date et lieu d'abattage</p>
            <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
        </div>
      </div>

    <h1>Infos des porcs</h1>

<% @abattage.porcs.each do |porc|%>
  <%= link_to porc_path(porc) do %>
    <%= porc.user.EDE %><%= porc.boucle %>
  <% end %>
  <%= porc.poids_carcasse%>
  <%= porc.epaisseur_lard%>
  <%= porc.ph%>
  <%= porc.coppa.quantité%>
  <%= porc.lonzu.quantité%>
  <%= porc.prisuttu.quantité%>
<% end %>
    <h1>Infos des produits</h1>
    <h2>Coppa</h2>
      <% @abattage.porcs.each do |porc|%>
        <%= Coppa.find_by(porc: porc).poids %>
        <%= Coppa.find_by(porc: porc).epaisseur_lard %>
        <%= Coppa.find_by(porc: porc).ph %>
        <%= Coppa.find_by(porc: porc).date_mise_au_sel %>
        <%= Coppa.find_by(porc: porc).date_sortie_de_sel %>
        <%= Coppa.find_by(porc: porc).durée_fumage %>
        <%= Coppa.find_by(porc: porc).poids_sortie_sèche %>
        <%= Coppa.find_by(porc: porc).date_entrée_affinage %>
        <%= Coppa.find_by(porc: porc).date_sortie_affinage_vente %>
      <% end %>
    <h2>Lonzu</h2>
      <% @abattage.porcs.each do |porc|%>
        <%= Lonzu.find_by(porc: porc).poids %>
        <%= Lonzu.find_by(porc: porc).epaisseur_lard %>
        <%= Lonzu.find_by(porc: porc).ph %>
        <%= Lonzu.find_by(porc: porc).date_mise_au_sel %>
        <%= Lonzu.find_by(porc: porc).date_sortie_de_sel %>
        <%= Lonzu.find_by(porc: porc).durée_fumage %>
        <%= Lonzu.find_by(porc: porc).poids_sortie_sèche %>
        <%= Lonzu.find_by(porc: porc).date_entrée_affinage %>
        <%= Lonzu.find_by(porc: porc).date_sortie_affinage_vente %>
      <% end %>
    <h2>Prisuttu</h2>
      <% @abattage.porcs.each do |porc|%>
        <%= Prisuttu.find_by(porc: porc).poids %>
        <%= Prisuttu.find_by(porc: porc).epaisseur_lard %>
        <%= Prisuttu.find_by(porc: porc).ph %>
        <%= Prisuttu.find_by(porc: porc).date_mise_au_sel %>
        <%= Prisuttu.find_by(porc: porc).date_sortie_de_sel %>
        <%= Prisuttu.find_by(porc: porc).durée_fumage %>
        <%= Prisuttu.find_by(porc: porc).poids_sortie_sèche %>
        <%= Prisuttu.find_by(porc: porc).date_entrée_affinage %>
        <%= Prisuttu.find_by(porc: porc).date_sortie_affinage_vente %>
      <% end %>

    <div class="buttons" >
      <%= link_to "Voir la liste des porcs", abattage_dashboard_path(@abattage), class: "button-custom" %>
      <%= link_to "Voir les produits temoins du lot ", porcs_path, class: "button-custom" %>
    </div>
  </div>

  <div class="buttons" >
      <%= link_to "Générer les documents AOP ", porcs_path, class: "button-custom" %>
    </div>
  </div>

    <div class="buttons">
      <a class="btn btn-primary" href="/porcs">Exit</a>
    </div>
</div>
