<div class="container-global">
  <%= render "shared/head_bar" %>

  <div class="nav-container">
      <div class="head-info">
        <div>
          <h2 class="active">INFORMATIONS DU LOT N°<%= @abattage.numéro_lot %></h2>
        </div>
        <div class="elevage">
            <p><span style="color: gray; font-weight: 900;">Date</span> <%= @abattage.date.strftime("%d/%m/%Y") %></p>
            <p><span style="color: gray; font-weight: 900;">Lieu d'abattage</span> <%= @abattage.lieu %></p>
        </div>
      </div>
  </div>

  <div class="nav-button mt-5 mb-5">
    <div>
      <%= link_to "< Retour", porcs_path, class: "annuler-button", style: "color: white;" %>
    </div>
    <div class="button-action" id="pdf">
      <%= link_to "OBTENIR LE PDF", abattage_download_path(@abattage), target: '_blank', class: "button-custom" %>
    </div>
  </div>

  <h2>Gestion des informations des porcs</h2>
  <div class="list-etape">
      <%= link_to edit_abattage_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape" style="<%= @etape_un_rempli ? 'background-color: #0089d8;' : '' %>">Saisir les données de l'abattage</div>
      <% end %>

      <%= link_to abattage_edit_produits_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape" style="<%= @etape_deux_rempli ? 'background-color: #0089d8;' : '' %>">Saisir le nombre de produits</div>
      <% end %>
  </div>

  <div class="list-tableau mb-5">
    <div class="tableau-content">
      <table style="table">
          <thead>
            <tr>
              <td>IPG du porc</td>
              <td>Poids carcasse (kg)</td>
              <td>Epaisseur du lard (cm)</td>
              <td>pH</td>
              <td>Quantité coppa</td>
              <td>Quantité lonzu</td>
              <td>Quantité prisuttu</td>
            </tr>
          </thead>
          <tbody>
            <% @abattage.porcs.each do |porc|%>
              <tr class="form-row">
                <td class="boucle-porc">
                  <%= porc.user.EDE %><%= porc.boucle %>
                </td>
                <td class="form-input">
                  <%= porc&.poids_carcasse%>
                </td>
                <td class="form-input">
                  <%= porc&.epaisseur_lard%>
                </td>
                <td class="form-input">
                  <%= porc&.ph%>
                </td>
                <td class="form-input">
                  <%= porc&.coppa&.quantité%>
                </td>
                <td class="form-input">
                  <%= porc&.lonzu&.quantité%>
                </td>
                <td class="form-input">
                  <%= porc&.prisuttu&.quantité%>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>

  <h2>Gestion des produits témoin</h2>
  <div class="list-etape">
        <%= link_to abattage_edit_coppa_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape" style="<%= @coppa_temoin ? 'background-color: #0089d8;' : '' %>">Saisir la Coppa témoin</div>
      <% end %>

      <%= link_to abattage_edit_lonzu_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape" style="<%= @lonzu_temoin ? 'background-color: #0089d8;' : '' %>">Saisir le Lonzu témoin</div>
      <% end %>

      <%= link_to abattage_edit_prisuttu_path(@abattage), data: { turbo: "false" } do %>
        <div class="etape" style="<%= @prisuttu_temoin ? 'background-color: #0089d8;' : '' %>">Saisir le Prisuttu témoin </div>
      <% end %>
  </div>

  <div class="list-tableau mb-5">
    <div class="tableau-content">
      <table style="table">
        <thead>
          <tr>
            <td>Produit</td>
            <td>Poids</td>
            <td>Epaisseur du lard (cm)</td>
            <td>pH</td>
            <td>Date mise au sel</td>
            <td>Date sortie de sel</td>
            <td>Durée de fumage (jours)</td>
            <td>Poids sortie de sèche (kg)</td>
            <td>Date entrée affinage</td>
            <td>Date sortie affinage vente</td>
          </tr>
        </thead>
        <tbody>
              <tr>
                <th>Coppa</th>
                <td class="form-input"><%= @coppa_temoin&.poids ? @coppa_temoin&.poids : 0 %></td>
                <td class="form-input">N/A</td>
                <td class="form-input">N/A</td>
                <td class="form-input"><%= @coppa_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") ? @coppa_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @coppa_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") ? @coppa_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @coppa_temoin&.durée_fumage ? @coppa_temoin&.durée_fumage : 0 %></td>
                <td class="form-input"><%= @coppa_temoin&.poids_sortie_sèche ? @coppa_temoin&.poids_sortie_sèche : 0 %></td>
                <td class="form-input"><%= @coppa_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") ? @coppa_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @coppa_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") ? @coppa_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") : "null" %></td>
              </tr>

              <tr>
                <th>Lonzu</th>
                <td class="form-input"><%= @lonzu_temoin&.poids ? @lonzu_temoin&.poids : 0 %></td>
                <td class="form-input">N/A</td>
                <td class="form-input">N/A</td>
                <td class="form-input"><%= @lonzu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") ? @lonzu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @lonzu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") ? @lonzu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @lonzu_temoin&.durée_fumage ? @lonzu_temoin&.durée_fumage : 0 %></td>
                <td class="form-input"><%= @lonzu_temoin&.poids_sortie_sèche ? @lonzu_temoin&.poids_sortie_sèche : 0 %></td>
                <td class="form-input"><%= @lonzu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") ? @lonzu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") : "null"%></td>
                <td class="form-input"><%= @lonzu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") ? @lonzu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") : "null" %></td>
              </tr>

              <tr>
                <th>Prisuttu</th>
                <td class="form-input"><%= @prisuttu_temoin&.poids ? @prisuttu_temoin&.poids : 0 %></td>
                <td class="form-input"><%= @prisuttu_temoin&.epaisseur_lard ? @prisuttu_temoin&.epaisseur_lard : 0 %></td>
                <td class="form-input"><%= @prisuttu_temoin&.ph ? @prisuttu_temoin&.ph : 0 %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") ? @prisuttu_temoin&.date_mise_au_sel&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") ? @prisuttu_temoin&.date_sortie_de_sel&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @prisuttu_temoin&.durée_fumage ? @prisuttu_temoin&.durée_fumage : 0 %></td>
                <td class="form-input"><%= @prisuttu_temoin&.poids_sortie_sèche ? @prisuttu_temoin&.poids_sortie_sèche : 0 %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") ? @prisuttu_temoin&.date_entrée_affinage&.strftime("%d/%m/%Y") : "null" %></td>
                <td class="form-input"><%= @prisuttu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") ? @prisuttu_temoin&.date_sortie_affinage_vente&.strftime("%d/%m/%Y") : "null" %></td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
