 <div class="container-global">
  <%= render "shared/head_bar" %>

  <%= link_to "retour", porcs_path, class: "annuler-button" %>
  <div class="nav-container">
      <div class="head-info">
        <div>
          <h2 class="active">Information sur le lot <%= @abattage.numéro_lot %></h2>
        </div>
      </div>

      <div class="head-info">
        <div class="elevage">
            <p>Date et lieu d'abattage</p>
            <p><%= @abattage.date.strftime("%d/%m/%Y") %>, <%= @abattage.lieu %></p>
        </div>
      </div>

    <div>
      <%= link_to "Voir la liste des porcs", porcs_path, class: "button-custom" %>
      <%= link_to "Voir les produits", porcs_path, class: "button-custom" %>
    </div>

  </div>
</div>
