<div class="container-global">
  <%= render "shared/head_bar" %>

  <div data-controller="grid">
    <%= render "shared/navbar" %>

    <div class="elevage-container enable" data-grid-target="grid">
      <% @porcs.each do |porc| %>
        <%= link_to porc_path(porc), style: "text-decoration: none;" do %>
          <div class="elevage">
            <p> IPG: <%= porc.user.EDE %><%= porc.boucle %></p>
            <p> <%= porc.sexe.capitalize %></p>
            <p> Date de naissance: <%= porc.date_de_naissance.strftime("%d/%m/%Y") %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="elevage-container" data-grid-target="grid">
      <% @abattages.each do |abattage| %>
        <div class="elevage">
          <p> Lot : <%= abattage.numéro_lot %></p>
          <p> Lieu : <%= abattage.lieu %></p>
          <p> Date abatoir : <%=  abattage.date %></p>
          <%= link_to "Voir détails", abattage_path(abattage)%>
          <%= link_to "Modifier", edit_abattage_path(abattage) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
