<div data-controller="grid">
  <%= render "shared/navbar" %>

  <div class="elevage-container enable" data-grid-target="grid">
    <% @porcs.each do |porc| %>
      <%= link_to porc_path(porc), class: "elevage", style: "text-decoration: none" do %>
        <p> IPG: <%= porc.user.EDE %><%= porc.boucle %></p>
        <p>Naissance: <%= porc.date_de_naissance.strftime('%d/%m/%Y') %></p>
        <p>Sexe: <%= porc.sexe %> </p>
      <% end %>
    <% end %>
  </div>

  <div class="production-container" data-grid-target="grid">
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
    <div class="products"></div>
  </div>
</div>

<%= link_to "Ajoutez un nouveau porc", new_porc_path %>
