<div class="container-global">
  <%= render "shared/head_bar" %>
  
  <div data-controller="grid">
    <%= render "shared/navbar" %>

    <div class="elevage-container enable" data-grid-target="grid">
      <% @porcs.each do |porc| %>
        <%= link_to porc_path(porc) do %>
          <div class="elevage">
            <p> IPG: <%= porc.user.EDE %><%= porc.boucle %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="production-container" data-grid-target="grid">
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
      <div class="products"></div>
    </div>
  </div>
</div>
