<div class="container-global">
  <%= render "shared/head_bar" %>
  <div class="form-create-container mt-3">
    <h2>Ajouter un nouveau porc</h2>
    <%= simple_form_for @porc do |f| %>
      <div class="formBloc">
        <div class="formGroupe">
          <%= f.input :boucle %>
        </div>
        <div class="formGroupe">
          <%= f.input :date_de_naissance, as: :date %>
        </div>
        <div class="formGroupe">
          <%= f.input :boucle_mère, collection: Porc.where(sexe: "femelle").pluck(:boucle) %>
        </div>
        <div class="formGroupe">
          <%= f.input :boucle_père, collection: Porc.where(sexe: "mâle").pluck(:boucle) %>
        </div>
        <div>
          <span style="color: black; font-weight: bold; font-size: 20px; transition: 0.4s ease-out;">Sexe</span>
          <%= f.input :sexe, as: :radio_buttons, collection: [['male', 'male'], ['femelle', 'femelle']] %>
        </div>
        <div class="d-flex justify-content-between form-actions">
          <%= link_to "Annuler", porcs_path, class: "annuler-button" %>
          <%= f.button :submit, "Ajouter", class: "submit-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
