<div class="container-global">
  <%= render "shared/head_bar" %>

  <h1>Informations du porc <%=@porc.user.EDE%><%=@porc.boucle%></h1>
  <div class="nav-button">
    <div>
      <%= link_to "< Retour", porcs_path, class: "annuler-button", style: "color: white;" %>
    </div>
    <div class="button-action">
      <%= link_to "Modifier", edit_porc_path(@porc), class: "button-custom" %>
      <%= link_to "Gestion du porc", porc_gestion_path(@porc), class: "button-custom" %>
    </div>
  </div>

  <div class="view-info">
    <div class="grid-container">
      <div class="card">
        <h4>Informations générales</h4>
        <div class="infos-porc">
          <p><span style="color: gray; font-weight: 900;">N° IPG</span> <%=@porc.user.EDE%><%=@porc.boucle%></p>
          <p><span style="color: gray; font-weight: 900;">Né.e le</span> <%= @porc.date_de_naissance.strftime("%d/%m/%Y") %></p>
          <p><span style="color: gray; font-weight: 900;">Sexe</span> <%= @porc.sexe %></p>
          <p><span style="color: gray; font-weight: 900;">Poids à 2 mois</span> <% if @porc.poids.nil? %>Aucun poids renseigné<% else %><%= @porc.poids %>kg<% end %></p>
        </div>
      </div>

      <div class="card">
        <h4>Informations sur le vermifuges</h4>
        <div class="vermifuges-container">
          <div class="vermifuges">
            <% if @porc.vermifuge_2_mois %>
              <i class="fa-solid fa-check"></i>
            <% else %>
              <i class="fa-solid fa-x"></i>
            <% end %>
            <span style="color: gray; font-weight: 900;">Vermifuge à 2 mois</span>
          </div>
          <div class="vermifuges">
            <% if @porc.vermifuge_6_mois %>
              <i class="fa-solid fa-check"></i>
            <% else %>
              <i class="fa-solid fa-x"></i>
            <% end %>
            <span style="color: gray; font-weight: 900;">Vermifuge à 6 mois</span>
          </div>
          <div class="vermifuges">
            <% if @porc.vermifuge_12_mois %>
              <i class="fa-solid fa-check"></i>
            <% else %>
              <i class="fa-solid fa-x"></i>
            <% end %>
            <span style="color: gray; font-weight: 900;">Vermifuge à 12 mois</span>
          </div>
        </div>
      </div>

      <div class="card">
        <h4>Informations sur la mère</h4>
        <div class="infos-mère">
          <div>
            <p><span style="color: gray; font-weight: 900;">N° IPG</span> <%=@porc.user.EDE%><%=@porc.boucle_mère%></p>
            <p><span style="color: gray; font-weight: 900;">Née le</span> <%= Porc.find_by("boucle like ?", @porc.boucle_mère)&.date_de_naissance.strftime("%d/%m/%Y")%></p>
          </div>
        </div>
      </div>

      <div class="card">
        <h4>Informations sur le père</h4>
        <div class="infos-père">
            <p><span style="color: gray; font-weight: 900;">N° IPG</span> <%=@porc.user.EDE%><%=@porc.boucle_père%></p>
            <p><span style="color: gray; font-weight: 900;">Né le</span> <%= Porc.find_by("boucle like ?", @porc.boucle_père)&.date_de_naissance.strftime("%d/%m/%Y")%></p>
        </div>
      </div>
    </div>

    <% if @porc.décès %>
      <div class="deces-container">
        <div class="card deces">
          <% if @porc.décès %>
            <h4>Décès sur exploitation</h4>
            <div class="décès">
              <span style="color: gray; font-weight: 900;">Décèdé le</span> <%= @porc.date_décès %>
            </div>
            <% elsif @porc.abattu %>
            <h4>Date de passage en abattoire</h4>
            <div class="décès">
              <span style="color: gray; font-weight: 900;">Envoyé à l'abattoir le</span> <%= @porc.abattage.date %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
